/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Intro Section */
.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.8em;
    
    border-radius: 30px;
    font-family: Times New Roman;
    padding: 20px;
}

.intro p {
    font-size: 1.2em;
    font-family: Roboto;
    color: white;

}

/* Program List Section */
.program-list h3 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card h4 {
    font-size: 1.4em;
    color: #4CAF50;
}

.service-card p {
    font-size: 1em;
    color: #666;
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}
.explor{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #26bd2b;
    padding: 30px;
    background-color: #86d786;
    
    border-radius: 50px;
}
.princi{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.social-icons {
    list-style: none;
    padding: 0;
  }
  .butt{
    background-color: rgb(222, 120, 62);
    border-radius: 20px;
    padding: 10px;
    border-color: #854208;
    text-align: center;
  }